<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
  	<% include partials/template/header.ejs %>
    <% include partials/template/nav.ejs %>
    <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->

    <section class="layout">
    	<article class="primary">
    	    <% include partials/content/whatisfocal.ejs %>
            <% include partials/content/getconnected.ejs %>
            <% include partials/content/whoshouldcome.ejs %>
    	</article><!-- primary -->
    	
        <aside class="secondary">
    		<% include partials/content/meetings.ejs %>
            <% include partials/content/badges.ejs %>
    	</aside><!-- secondary -->
    </section><!-- layout -->
    
    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
    
  </body>
</html>
