<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
  	<% include partials/template/header.ejs %>
    <% include partials/template/nav.ejs %>
    <section class="layout">
    	  <article class="primary">
    	     <% include partials/content/resources.ejs %>
    	  </article><!-- primary -->

    	  <aside class="secondary">

        </aside><!-- secondary -->
    </section><!-- layout -->

    <% include partials/template/footer.ejs %>
    <% include partials/template/jsdefaults.ejs %>
  </body>
</html>