<header>
	<dive class="hero">
		<section class="layout">
			<div class="branding">
				<a href="/">
					<img id="logo" src="/images/misc/logo.jpg" alt="Logo">
				</a>
			</div><!-- branding -->
		</section><!-- layout -->
	</div><!--hero -->

	
</header>