<nav>
	<div class"mainnav">
		<section>
			<ul>
				<li><a href="/"><i class="icon-home">Home</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/resources">Resources</a></li>
			</ul><!-- nav -->
		</section><!-- layout -->
	</div><!--nav -->

	<div class="login">
		<section>
			<ul>
				<li><a href="/login"><i class="icon-home">Login</a></li>
			</ul><!-- nav -->
		</section><!-- layout -->
	</div><!--nav -->


</nav>