<nav>
	<div class="nav">
		<section class="layout">
			<ul class="nav">
				<li><a href="/"><i class="icon-home">Home</a></li>
				<li><a href="/about">About</a></li>
			</ul><!-- nav -->
		</section><!-- layout -->
	</div><!--nav -->
</nav>