<div class="badges" id="content">
	<h1>Badges</h1>
	<p> Check out all the badges you can earn while completing the FOCAL program!</p>
	<div class="pixgrid">
		<%if (img.length>0) {%>
			<%for (i=0;i<img.length;i++) {%>
				<img src="/images/badges/<%= img[i] %>" alt="Badge <%= i %>">
			<%}%>
		<%}%>
	</div>
</div>

