<div class="mypath" id="content" >
	<h1>Join!</h1>
	<p>This section will have input fields for people to join the DL and sign up to be a part of the program. It will also pop out only when someone clicks on the join link. It will drop down/appear from nowhere with transitions</p>
</div>