<div class="meeting">
	<!--<article class="meetings">-->
		<h1>Meetings</h1>
		<p class="contentpadding">
			<%= appdata.meeting.date %> <br> <%= appdata.meeting.time %> <br>
			<%= appdata.meeting.where %>
		</p>
	<!--</article>-->
</div>